
/* ========== Header =============== */
header ul{
    gap: 16px;
}

header ul li a{
    color: var(--titleColor);
    opacity: 0.9;
    font-weight: bold;
    margin: 0 1.5rem;
}
header ul li a:hover{
    color: var(--blue);
    opacity: 1;
    font-weight: bold;
}

header.flex{
    justify-content: space-between;
    padding: 0 2.4rem;
    margin-top: 1.2rem;
}

header nav{
    background-color: var(--bgHeader);
    padding:1rem 2rem;
    border-radius: 50px;
    box-shadow: 1px 1px 20px #232121;
}

header button.menu{
    display: none;
}

.icon-close{
    font-size: larger;
}

/* =======   icons == buttons  ======= */
header  .mode, header .icon-menu{
    background-color: var(--bgHeader);
    color: var(--subtitleColor);
    width: 2.2rem;
    height: 2.2rem;
    font-size: 20px;
    text-align: center;
    border: 1px solid var(--border);
    border-radius: 50%;
}

.light .icon-sun-stroke{
    color: orange;
    width: 2.2rem;
    height: 2.2rem;
    font-size: 20px;
    text-align: center;
    border: 1px solid var(--border);
    border-radius: 50%;
}

header .mode:hover, header .icon-menu:hover{
    border: 1px solid var(--blue);
    color: var(--titleColor);
}
header .layer .icon-close{
    color: var(--subtitleColor);
}

header .layer .icon-close:hover{
    color: var(--titleColor);
    rotate: 180deg;
}


/*======== pop up menu =========== Navbar====== */
header div.layer{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(40, 40, 48,0.8);
    z-index: 5;
    backdrop-filter: blur(5px);
     
}

@keyframes modal{
    0% {scale: 0;}
    70%{scale: 1.1;}
    100% {scale: 1;}
}

header .layer .modal{
    animation: modal 0.5s 1;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: var(--secondary);
    

}

header ul.modal li{
    border-bottom: 1px solid var(--border);
    padding-top: 0.5rem;
    padding-bottom: 0.77rem;
    text-align: center;
}
header ul.modal li:last-child{
    border: none;
}
header ul.modal li:first-child{
    border: none;
    text-align: right;
    padding-bottom: 0;
    padding-top: 0.2rem;
}



/* ===========  =Media query   ================ */
@media (max-width:700px) {
    header nav{
        display: none;
        
    }
    header button.menu{
        display: block;
    }
}